<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Pagina Home - Best songs and movies of the year!</title>
	<div th:replace="~{fragments :: head}"></div>
	<div th:replace="~{fragments :: script}"></div>
</head>

<body>

	<div th:replace="~{fragments :: menu('index')}"></div>
	
	<div class="d-flex flex-column align-items-center">
		<h1 class="w-25" th:text="'Best of the year by ' + ${nome}"></h1>
		<img class="w-50" alt="best-music" th:src="@{/img/image.jpg}">
		<h2 class="w-25">lorem ipsum</h2>
	</div>
	
</body>

</html>