<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Best Movies Ever!</title>
	<div th:replace="~{fragments :: head}"></div>
	<div th:replace="~{fragments :: script}"></div>
</head>

<body>

	<div th:replace="~{fragments :: menu}"></div>

	<ul class="list-group">
		<li th:each="movie:${movies}" th:with="titolo=${movie.getTitolo()}, id=${movie.getId()}" class ="list-group-item">
			<a th:href="@{'/movie/'+${id}}">[[${titolo}]]</a>
		</li>
	</ul>
	
</body>

</html>